<div id="repositoryChanges" ng-controller="RepositoryChanges">
	<changes-menu>
		<changes-menu-header no-padding>
			<div id="search" ng-class="{searchOn: search.mode == 'search'}">
				<div id="searchAll" ng-class="{selected: search.mode == 'all'}" ng-click="search.mode = 'all'">All</div>
				<div id="searchMe" ng-class="{selected: search.mode == 'me'}" ng-click="search.mode = 'me'">Me</div>
				<div id="searchQuery" ng-class="{selected: search.mode == 'search'}" ng-click="search.mode = 'search'" input-focus-on-click>
					<div id="searchImageAndInputContainer">
						<img ng-src="{{'/img/icons/search.png' | fileSuffix}}">
						<input type="text" ng-model="search.query" placeholder="User">
					</div>
				</div>
			</div>
		</changes-menu-header>

		<changes-menu-options on-scroll-to-bottom="changesManager.retrieveMoreChanges()">
			<changes-menu-empty-message ng-show="!changesManager.isRetrievingChanges() && changesManager.getChanges().length == 0">You have no changes</changes-menu-empty-message>

			<changes-menu-option ng-repeat="change in changesManager.getChanges() | orderBy:'number':true" menu-option-spinning="{{change.verificationStatus == 'running'}}" ng-click="selectChange(change)" ng-class="{selected: change.id == selectedChange.getId(), green: change.aggregateStatus == 'passed', orange: change.aggregateStatus == 'skipped', red: change.aggregateStatus == 'failed'}">
				<span class="changeSha">{{change.headCommit.sha | limitTo:4}}</span>
				<span class="changeAlias" ng-show="change.aggregateStatus != 'queued'">
					<span ng-show="change.user.id >= 1000">
						{{change.user.email | emailToAlias | lowercase}}
					</span>
					<span ng-show="change.user.id < 1000">
						{{change.headCommit.user.email | emailToAlias | lowercase}}
					</span>
				</span>
				<span class="changeQueued" ng-show="change.aggregateStatus == 'queued'">queued</span>
			</changes-menu-option>
			
			<changes-menu-retrieving-more ng-show="changesManager.isRetrievingChanges()">
				<spinner id="retrievingMoreSpinner" running="changesManager.isRetrievingChanges()"></spinner>
			</changes-menu-retrieving-more>
		</changes-menu-options>
	</changes-menu>
</div>
