<div id="header" class="growingCentered unselectable">

	<a id="title" href="/">Koality</a>

	<div id="primaryNavigation">
		<a href="/dashboard" ng-class="{disabled: path == '/dashboard'}">Dashboard</a>
		<a href="/analytics" ng-class="{disabled: path == '/analytics'}">Analytics</a>

		<dropdown>
			<a>Repositories</a>
			<dropdown-options>
				<dropdown-option ng-href="/repository/1">Awesome Sauce</dropdown-option>
				<dropdown-option ng-href="/repository/2">Awesome Sauce 2</dropdown-option>
				<dropdown-option ng-href="/repository/2">Repository Awesome Sauce 3</dropdown-option>
				<dropdown-option ng-href="/repository/2">Repository Awesome Sauce 4</dropdown-option>
				<dropdown-option ng-href="/repository/2">Awesome Sauce 5</dropdown-option>
				<dropdown-option ng-href="/repository/2">Awesome Sauce 6</dropdown-option>
				<dropdown-option ng-href="/repository/2">Repository Awesome Sauce 7</dropdown-option>
				<dropdown-option ng-href="/repository/2">Repository Awesome Sauce 8</dropdown-option>
			</dropdown-options>
		</dropdown>
	</div>

	<div id="secondaryNavigation">
		<dropdown>
			<a href="/account" ng-class="{disabled: path == '/account'}">Account</a>
			<dropdown-options>
				<dropdown-option>Logout</dropdownElement>
			</dropdown-options>
		</dropdown>

		<a href="/admin" ng-class="{disabled: path == '/admin'}">Admin</a>
	</div>


	<!-- <div id="headerOptions" ng-show="loggedIn" ng-cloak>
		<span dropdown-container class="headerOption" ng-controller="HeaderProfile" ng-click="profileClick()">{{user.firstName}} {{user.lastName}}
			<dropdown dropdown-alignment="right" dropdown-options="profileDropdownOptions" dropdown-option-click="profileDropdownOptionClick(dropdownOption)" />
		</span>

		<span class="headerOption" ng-controller="HeaderAdmin" ng-show="isAdmin" ng-click="visitAdmin()">Admin</span>

		<span dropdown-container class="headerOption" ng-controller="HeaderRepositories" ng-click="repositoryClick()">Repositories
			<dropdown dropdown-alignment="right" dropdown-options="repositoryDropdownOptions" dropdown-option-click="repositoryDropdownOptionClick(dropdownOption)" />
		</span>

		<span class="headerOption" ng-click="feedback.modalVisible = true">Feedback</span>
		<modal modal-visible="feedback.modalVisible">
			<div id="feedbackPanel">
				<content>
					<content-header content-header-padding>Send Feedback</content-header>
					<content-body unselectable>
						<div id="feedbackPanelContent" ng-show="!feedback.showSuccess">
							<styled-form name="feedbackForm" id="feedbackPanelForm">
								<styled-form-field label="Feedback" label-padding="true">
									<textarea type="text" ng-model="feedback.text" name="feedback" placeholder="I found an issue with foo, where bar will baz from time to time. I was able to reproduce the baz behavior by first... and then..." ng-maxlength="8192" required></textarea>
								</styled-form-field>
								<styled-form-field>
									<button id="feedbackPanelSubmitButton" ng-click="submitFeedback()" ng-disabled="feedbackForm.$invalid">Send</button>
								</styled-form-field>
							</styled-form>
						</div>
						<div id="feedbackPanelSuccessMessage" ng-show="feedback.showSuccess">
							Thank you for your feedback!
						</div>
					</content-body>
				</content>
			</div>
		</modal>
	</div> -->
</div>
