<div id="header" class="growingCentered unselectable">

	<a id="title" href="/">Koality</a>

	<div id="primaryNavigation" ng-show="loggedIn">
		<a href="/dashboard" ng-class="{disabled: path == '/dashboard'}">Dashboard</a>
		<a href="/analytics" ng-class="{disabled: path == '/analytics'}">Analytics</a>

		<dropdown>
			<a>Repositories</a>
			<dropdown-options>
				<dropdown-option
					ng-repeat="repository in repositories | orderBy:'name'"
					ng-href="/repository/{{repository.id}}"
					ng-class="{disabled: path == '/repository/{{repository.id}}'}">
					{{repository.name}}
				</dropdopwn-option>
			</dropdown-options>
		</dropdown>
	</div>

	<div id="secondaryNavigation" ng-show="loggedIn">
		<div id="feedback">
			<a ng-click="feedback.open = !feedback.open">Feedback</a>

			<div id="feedbackMessageContainer" ng-show="feedback.open">
				<form name="feedbackForm" novalidate>
					<textarea ng-model="feedback.message" placeholder="I found an issue with foo, where bar will baz from time to time. I was able to reproduce the baz behavior by first... and then..." required></textarea>

					<div id="feedbackOptions">
						<spinner spinner-running="feedback.makingRequest"></spinner>
						<a ng-click="feedback.open = false; feedback.message=''" ng-class="{disabled: feedback.makingRequest}">Cancel</a>
						<a ng-click="sendFeedback()" ng-class="{disabled: feedback.makingRequest}">Send</a>
					</div>
				</form>
			</div>
		</div><!-- Do not add space here! --><div id="divider"></div><!-- Do not add space here! --><a href="/admin" ng-class="{disabled: path == '/admin'}" ng-show="isAdmin">Admin</a><!-- Do not add space here! --><dropdown>
			<a href="/account" ng-class="{disabled: path == '/account'}">My Account</a>
			<dropdown-options>
				<dropdown-option ng-click="performLogout()">Logout</dropdownElement>
			</dropdown-options>
		</dropdown>

	</div>
</div>
