@import '../constants';

#header {
	position: relative;
	height: 100%;
	background-color: @headerBackground;

	#headerTitle {
		cursor: hand; cursor: pointer;

		padding-left: 5px;
		padding-right: 20px;
		font-size: 28px;
		line-height: @headerHeight;

		&:active {
			position: relative;
			top: 1px;
		}
	}

	#headerOptions {
		display: table;
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;

		.headerOption {
			cursor: hand; cursor: pointer;

			position: relative;
			display: table-cell;
			padding-left: 20px;
			padding-right: 20px;
			vertical-align: middle;
			text-align: center;
			font-size: 1em;
			font-weight: bold;

			@backgroundColorTransitionTime: 0.25s;
			transition: background-color @backgroundColorTransitionTime ease-out;
			-moz-transition: background-color @backgroundColorTransitionTime ease-out;
			-webkit-transition: background-color @backgroundColorTransitionTime ease-out;
			-o-transition: background-color @backgroundColorTransitionTime ease-out;

			&:hover {
				background-color: @koalityGreen;
			}
		}

		#feedbackPanel {
			width: 500px;
			height: 255px;

			#feedbackPanelContent {
				margin-top: 30px;
				margin-left: 30px;

				#feedbackPanelForm {
					textarea {
						width: 335px;
					}
				}

				#feedbackPanelSubmitButton {
					float: right;
				}
			}

			#feedbackPanelSuccessMessage {
				margin-top: 80px;
				text-align: center;
				color: @koalityGreen;
				font-size: 1.2em;
			}
		}
	}
}