<div id="repositoryStageDetails" ng-controller="RepositoryStageDetails">
	<panel>
		<panel-header>
			<div class="left">
				<span ng-show="selectedChange.getInformation() != null && selectedStage.isSummary()">summary</span>
				<span ng-show="selectedStage.getInformation() != null">{{selectedStage.getInformation().name}}</span>
				<span ng-show="selectedStage.isSkipped()">skipped</span>
				<span ng-show="selectedStage.isMerge()">merge</span>
				<span ng-show="selectedStage.isDebug()">debug</span>

				<span id="loadingText" ng-show="consoleTextManager.isRetrievingLines()">loading...</span>
			</div>

			<div class="right" ng-show="selectedStage.getInformation().outputTypes.length > 1">
				<dropdown right light>
					<span ng-show="output.type == 'console'">Text</span>
					<span ng-show="output.type == 'xunit'">XUnit</span>
					<div class="triangle down white"></div>
					<dropdown-options>
						<dropdown-option ng-click="output.type = 'console'" ng-if="output.hasConsole" ng-class="{disabled: output.type == 'console'}">Text</dropdown-option>
						<dropdown-option ng-click="output.type = 'xunit'" ng-if="output.hasXUnit" ng-class="{disabled: output.type == 'xunit'}">XUnit</dropdown-option>
					</dropdown-options>
				</dropdown>
			</div>
		</panel-header>

		<panel-body>
			<div id="summary" ng-show="selectedStage.isSummary() && selectedChange.getInformation() != null">
				<table>
					<tr>
						<th>Name</th>
						<td>{{selectedChange.getInformation().user.name.first}} {{selectedChange.getInformation().user.name.last}}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td><a ng-href="mailto:{{selectedChange.getInformation().user.email}}?subject=Koality%3A%20{{selectedRepository.getInformation().name}}%20-%20change%20%23{{selectedChange.getInformation().headCommit.sha | limitTo:4}}&body=Link%20to%20change%3A%20{{currentUrl}}" target="_blank">{{selectedChange.getInformation().user.email}}</a></td>
					</tr>
					<tr>
						<th>Submit Time</th>
						<td>{{selectedChange.getInformation().createTime | date:'EEEE, MM/dd hh:mm:ss a'}}</td>
					</tr>
					<tr ng-show="selectedChange.getInformation().startTime != null">
						<th>Start Time</th>
						<td>{{selectedChange.getInformation().startTime | date:'EEEE, MM/dd hh:mm:ss a'}}</td>
					</tr>
					<tr ng-show="selectedChange.getInformation().startTime != null && selectedChange.getInformation().endTime != null">
						<th>Duration</th>
						<td>{{(selectedChange.getInformation().endTime - selectedChange.getInformation().startTime) / 60000 | number:0}}m {{((selectedChange.getInformation().endTime - selectedChange.getInformation().startTime) % 60000) / 1000 | number:0}}s</td>
					</tr>
					<tr>
						<th>Branch</th>
						<td>{{selectedChange.getInformation().target}}</td>
					</tr>
					<tr>
						<th>Head SHA</th>
						<td>{{selectedChange.getInformation().headCommit.sha}}</td>
					</tr>
					<tr>
						<th>Head Commit</th>
						<td>
							<pre>{{selectedChange.getInformation().headCommit.message}}</pre>
						</td>
					</tr>
					<tr ng-show="(selectedChange.getInformation().headCommit.sha | shaLink:selectedRepository.getInformation().forwardUrl) != null">
						<th>Diff</th>
						<td ng-bind-html="selectedChange.getInformation().headCommit.sha | shaLink:selectedRepository.getInformation().forwardUrl"></td>
					</tr>
					<tr ng-show="exportUris.length > 0">
						<th>Exported Files</th>
						<td class="exportUris">
							<div ng-repeat="exportUri in exportUris">
								<a ng-href="{{exportUri.uri}}" target="_blank">{{exportUri.uri}}</a>
							</div>
						</td>
					</tr>
				</table>
			</div>

			<div id="console" ng-show="output.type == 'console'">
				<div auto-scroll-to-bottom="consoleTextManager.getNewLines()" auto-scroll-to-bottom-buffer="40" start-at-bottom on-scroll-to-top="consoleTextManager.retrieveMoreLines()" fading-content>
					<console-text class="consoleText" new-lines="consoleTextManager.getNewLines()" old-lines="consoleTextManager.getOldLines()" listener="contentTextManager.lastUpdateTime"></console-text>
				</div>
			</div>

			<div id="xunit" ng-show="output.type == 'xunit'">
				<div on-scroll-to-bottom="xunit.maxResults = xunit.maxResults + 100" fading-content>
					<table class="delineated">
						<tr>
						<th class="nameColumn sortableColumn unselectable" ng-click="xunit.orderByPredicate = 'name'; xunit.orderByReverse = !xunit.orderByReverse">
							<div class="triangle gray" ng-class="{right: xunit.orderByPredicate != 'name', up: xunit.orderByPredicate == 'name' && !xunit.orderByReverse, down: xunit.orderByPredicate == 'name' && xunit.orderByReverse}"></div>
							Name
						</th>
						<th class="statusColumn sortableColumn unselectable" ng-click="xunit.orderByPredicate = 'status'; xunit.orderByReverse = !xunit.orderByReverse">
							<div class="triangle gray" ng-class="{right: xunit.orderByPredicate != 'status', up: xunit.orderByPredicate == 'status' && !xunit.orderByReverse, down: xunit.orderByPredicate == 'status' && xunit.orderByReverse}"></div>
							Status
						</th>
						<th class="timeColumn sortableColumn unselectable" ng-click="xunit.orderByPredicate = 'time'; xunit.orderByReverse = !xunit.orderByReverse">
							<div class="triangle gray" ng-class="{right: xunit.orderByPredicate != 'time', up: xunit.orderByPredicate == 'time' && !xunit.orderByReverse, down: xunit.orderByPredicate == 'time' && xunit.orderByReverse}"></div>
							Duration
						</th>
					</tr>
						<tr ng-repeat="testCase in xunit.testCases | orderBy:xunit.orderByPredicate:xunit.orderByReverse | limitTo:xunit.maxResults" ng-class="{red: testCase.status == 'failed', gray: testCase.status != 'failed'}" ng-click="testCase.showMore = !testCase.showMore">
							<td class="nameColumn" ng-class="{selectable: testCase.failure != null || testCase.error != null || testCase.sysout != null || testCase.syserr != null}">
								<span>{{testCase.name}}</span>

								<span class="testCaseExpand" ng-show="testCase.failure != null || testCase.error != null || testCase.sysout != null || testCase.syserr != null">
									<span ng-show="testCase.showMore">[-]</span>
									<span ng-show="!testCase.showMore">[+]</span>
								</span>

								<div class="failureText" ng-show="testCase.showMore && testCase.failure != null">
									<strong>Failure:</strong>
									<pre>{{testCase.failure}}</pre>
								</div>

								<div class="errorText" ng-show="testCase.showMore && testCase.error != null">
									<strong>Error:</strong>
									<pre>{{testCase.error}}</pre>
								</div>

								<div class="sysoutText" ng-show="testCase.showMore && testCase.sysout != null">
									<strong>System Out:</strong>
									<pre>{{testCase.sysout}}</pre>
								</div>

								<div class="syserrText" ng-show="testCase.showMore && testCase.syserr != null">
									<strong>System Error:</strong>
									<pre>{{testCase.syserr}}</pre>
								</div>
							</td>
							<td class="statusColumn">{{testCase.status}}</td>
							<td class="timeColumn">{{testCase.time | number: 6}}</td>
						</tr>
					</table>
				</div>
			</div>

			<div id="skipped" ng-show="selectedStage.isSkipped()">
				<div id="skippedMessage">
					This change was not verified because Koality is deactivated.
				</div>
				<div id="skippedInstructions">
					Contact your administrator to fix your license.
				</div>
			</div>

			<div id="merge" ng-show="selectedStage.isMerge()">
				<div ng-show="selectedChange.getInformation().mergeStatus == 'passed'">
					Change merged successfully.
				</div>
				<div ng-show="selectedChange.getInformation().mergeStatus == 'failed'">
					Failed to merge. Try pulling before pushing again.
				</div>
			</div>

			<div id="debug" ng-show="selectedStage.isDebug()">
				<div id="debugMessage">
					This change failed to create any output. This could be caused by invalid AWS credentials.
				</div>
				<div id="debugInstructions">
					Contact your administrator to correct the issue.
				</div>
			</div>
		</panel-body>
	</panel>
</div>
