@import '../constants';

#analytics {
	margin-top: 100px;
	height: 500px;

	#analyticsOptions {
		float: left;
		margin: 40px 0 0 40px;
		width: 200px;

		.analyticsOptionTitle {
			display: block;
			padding-bottom: 6px;
			font-size: 12px;
			font-weight: 500;
			color: #929497;
			text-transform: uppercase;
		}

		select {
			margin-bottom: 20px;
			width: 100%;
		}
	}

	#analyticsVisual {
		float: right;
		margin: 40px 40px 0 0;
		width: 750px;
		height: 350px;
		border: 1px solid #808080;

		.allLine, .passedLine, .failedLine {
			fill: none;
			stroke-width: 3px;
		}

		.allLine { stroke: @koalityWhite; }
		.passedLine { stroke: @koalityGreen; }
		.failedLine { stroke: @koalityRed; }

		.xAxis, .yAxis {
			fill: @koalityGray;

			path, line {
				fill: none;
				stroke: @koalityGray;
				shape-rendering: crispEdges;
			}
		}
	}
}