<div id="admin" ng-controller="Admin">
	<panel>
		<panel-options>
			<panel-option selected="view == 'users'" ng-click="selectView('users')">Users</panel-option>
			<panel-option selected="view == 'repositories'" ng-click="selectView('repositories')">Repositories</panel-option>
			<panel-option selected="view == 'aws'" ng-click="selectView('aws')">AWS</panel-option>
			<panel-option selected="view == 'exporter'" ng-click="selectView('exporter')">Exporter</panel-option>
			<panel-option selected="view == 'website'" ng-click="selectView('website')">Website</panel-option>
			<panel-option selected="view == 'api'" ng-click="selectView('api')">API</panel-option>
			<panel-option selected="view == 'plan'" ng-click="selectView('plan')">Plan</panel-option>
			<panel-option selected="view == 'upgrade'" ng-click="selectView('upgrade')">Upgrade</panel-option>
		</panel-options>

		<panel-header style="z-index: -1;"></panel-header>
		<panel-body style="z-index: -1;"></panel-body>

		<div ng-switch="view">
			<div ng-switch-when="users" ng-include="'html/admin/users/adminUsers.html' | fileSuffix"></div>
			<div ng-switch-when="repositories" ng-include="'html/admin/repositories/adminRepositories.html' | fileSuffix"></div>
			<div ng-switch-when="aws" ng-include="'html/admin/aws/adminAws.html' | fileSuffix"></div>
			<div ng-switch-when="exporter" ng-include="'html/admin/exporter/adminExporter.html' | fileSuffix"></div>
			<div ng-switch-when="website" ng-include="'html/admin/website/adminWebsite.html' | fileSuffix"></div>
			<div ng-switch-when="api" ng-include="'html/admin/api/adminApi.html' | fileSuffix"></div>
			<div ng-switch-when="plan" ng-include="'html/admin/plan/adminPlan.html' | fileSuffix"></div>
			<div ng-switch-when="upgrade" ng-include="'html/admin/upgrade/adminUpgrade.html' | fileSuffix"></div>
		</div>
	</panel>
</div>
