<div id="admin" ng-controller="Admin">
	<panel>
		<panel-options>
			<panel-option selected="view == 'users'" ng-click="selectView('users')">Users</panel-option>
			<panel-option selected="view == 'repositories'" ng-click="selectView('repositories')">Repositories</panel-option>
			<panel-option selected="view == 'aws'" ng-click="selectView('aws')">AWS</panel-option>
			<panel-option selected="view == 'exporter'" ng-click="selectView('exporter')">Exporter</panel-option>
			<panel-option selected="view == 'website'" ng-click="selectView('website')">Website</panel-option>
			<panel-option selected="view == 'api'" ng-click="selectView('api')">API</panel-option>
			<panel-option selected="view == 'plan'" ng-click="selectView('plan')">Plan</panel-option>
			<panel-option selected="view == 'upgrade'" ng-click="selectView('upgrade')">Upgrade</panel-option>
		</panel-options>

		<div ng-switch="view">
			<div ng-switch-when="users" ng-include="'html/admin/users/adminUsers.html' | fileSuffix"></div>
			<div ng-switch-when="repositories" ng-include="'html/admin/repositories/adminRepositories.html' | fileSuffix"></div>
			<div ng-switch-when="aws" ng-include="'html/admin/aws/adminAws.html' | fileSuffix"></div>
			<div ng-switch-when="exporter" ng-include="'html/admin/exporter/adminExporter.html' | fileSuffix"></div>
			<div ng-switch-when="website" ng-include="'html/admin/website/adminWebsite.html' | fileSuffix"></div>
			<div ng-switch-when="api" ng-include="'html/admin/api/adminApi.html' | fileSuffix"></div>
			<div ng-switch-when="plan" ng-include="'html/admin/plan/adminPlan.html' | fileSuffix"></div>
			<div ng-switch-when="upgrade" ng-include="'html/admin/upgrade/adminUpgrade.html' | fileSuffix"></div>
		</div>
	</panel>
</div>



<!-- 
<centered-panel id="admin">
	<div id="adminOptions">
		<content-menu>
			<content-menu-header menu-header-padding>Admin</content-menu-header>
			<content-menu-options>
				<content-menu-option menu-option-text="License Key" ng-click="menuOptionClick('license')" ng-class="{selected: currentView == 'license', green: currentView == 'license'}"></content-menu-option>
				<content-menu-option menu-option-text="Manage Website" ng-click="menuOptionClick('website')" ng-class="{selected: currentView == 'website', green: currentView == 'website'}"></content-menu-option>
				<content-menu-option menu-option-text="Manage User Accounts" ng-click="menuOptionClick('users')" ng-class="{selected: currentView == 'users', green: currentView == 'users'}"></content-menu-option>
				<content-menu-option menu-option-text="Manage Repositories" ng-click="menuOptionClick('repositories')" ng-class="{selected: currentView == 'repositories', green: currentView == 'repositories'}"></content-menu-option>
				<content-menu-option menu-option-text="Manage AWS" ng-click="menuOptionClick('aws')" ng-class="{selected: currentView == 'aws', green: currentView == 'aws'}"></content-menu-option>
				<content-menu-option menu-option-text="Manage Exporter" ng-click="menuOptionClick('exporter')" ng-class="{selected: currentView == 'exporter', green: currentView == 'exporter'}"></content-menu-option>
				<content-menu-option menu-option-text="Api" ng-click="menuOptionClick('api')" ng-class="{selected: currentView == 'api', green: currentView == 'api'}"></content-menu-option>
				<content-menu-option menu-option-text="Upgrade" ng-click="menuOptionClick('upgrade')" ng-class="{selected: currentView == 'upgrade', green: currentView == 'upgrade'}"></content-menu-option>
			</content-menu-options>
		</menu>
	</div>

	<div id="adminLicense" ng-show="currentView == 'license'" ng-controller="AdminLicense">
		<content>
			<content-header content-header-padding>License Key</content-header>
			<content-body unselectable>
				<div id="adminLicenseContent">
					<div id="adminLicenseMessage" text-selectable>
						Your Koality License Key is:
					</div>

					<div id="adminLicenseKey" text-selectable>{{licenseKey}}</div>
				</div>
			</content-body>
		</content>
	</div>

	<div id="adminWebsite" ng-show="currentView == 'website'" ng-controller="AdminWebsite">
		<content>
			<content-header content-header-padding>Manage Website</content-header>
			<content-body unselectable>
				<div id="adminWebsiteContent">
					<styled-form name="websiteDomainForm" id="adminWebsiteDomainForm">
						<styled-form-field label="Domain" label-padding="true">
							<input type="text" ng-model="domain.domainName" name="domainName" placeholder="koality.company.com" ng-pattern="/^[a-zA-Z0-9]+(-+[a-zA-Z0-9]+)*(.[a-zA-Z0-9]+(-+[a-zA-Z0-9]+)*)*$/" ng-maxlength="256" required focused>
							<styled-form-field-error tooltip="Invalid domain name. Do not include any modifiers, such as https:// or /path" error-visible="websiteDomainForm.domainName.$dirty && websiteDomainForm.domainName.$invalid"></styled-form-field-error>
						</styled-form-field>
						<styled-form-field label="">
							<button id="adminWebsiteDomainSubmitButton" ng-click="submitDomainName()" ng-disabled="websiteDomainForm.$invalid">Save Changes</button>
						</styled-form-field>
					</styled-form>

					<styled-form name="websiteSslForm" id="adminWebsiteSslForm">
						<styled-form-field label="Certificate" label-padding="true">
							<textarea type="text" ng-model="ssl.certificate" name="certificate" placeholder="certificate" required></textarea>
							<styled-form-field-error tooltip="Invalid Certificate" error-visible="websiteSslForm.certificate.$dirty && websiteSslForm.certificate.$invalid"></styled-form-field-error>
						</styled-form-field>
						<styled-form-field label="RSA Private Key" label-padding="true">
							<textarea type="text" ng-model="ssl.privateKey" name="privateKey" placeholder="rsa private key" required></textarea>
							<styled-form-field-error tooltip="Invalid RSA Private Key" error-visible="websiteSslForm.certificate.$dirty && websiteSslForm.certificate.$invalid"></styled-form-field-error>
						</styled-form-field>
						<styled-form-field label="">
							<button id="adminWebsiteSslSubmitButton" ng-click="submitSslCertificate()" ng-disabled="websiteSslForm.$invalid">Save Changes</button>
						</styled-form-field>
					</styled-form>
				</div>
			</content-body>
		</content>
	</div>

	<div id="adminUsers" ng-show="currentView == 'users'" ng-controller="AdminUsers">
		<content>
			<content-header content-header-padding>Manage User Accounts
				<content-header-subtext><a ng-click="addUsers.modalVisible=true">+ Add New Users</a></content-header-subtext>
			</content-header>
			<content-body unselectable>
				<div id="adminUsersContent">
					<table class="prettyTable">
						<tr class="title">
							<td class="nameColumn" ng-click="orderByPredicate = 'lastName'; orderByReverse = !orderByReverse">Name</td>
							<td class="emailColumn" ng-click="orderByPredicate = 'email'; orderByReverse = !orderByReverse">Email</td>
							<td class="createdColumn" ng-click="orderByPredicate = 'timestamp'; orderByReverse = !orderByReverse">Created</td>
							<td class="removeColumn">Remove</td>
						</tr>

						<tr ng-show="users.length == 0">
							<td class="nameColumn" text-selectable>There are no users</td>
							<td class="emailColumn"></td>
							<td class="createdColumn"></td>
							<td class="removeColumn"></td>
						</tr>

						<tr ng-repeat="user in users | orderBy:orderByPredicate:orderByReverse">
							<td class="nameColumn" text-selectable>{{user.firstName}} {{user.lastName}}</td>
							<td class="emailColumn" text-selectable><a href="mailto:{{user.email}}?subject=Koality" target="_blank">{{user.email}}</a></td>
							<td class="createdColumn" text-selectable>{{user.timestamp | date:'MM/dd/yyyy'}}</td>
							<td class="removeColumn"><a class="removeLink" ng-click="removeUser(user)" ng-class="{disabled: user.id == userId}">Delete</a></td>
						</tr>
					</table>
				</div>
			</content-body>
		</content>

		<modal modal-visible="addUsers.modalVisible">
			<div id="adminAddUsers">
				<content>
					<content-header content-header-padding>Add New Users</content-header>
					<content-body unselectable>
						<div id="adminAddUsersContent">
							<styled-form name="addUsersForm" id="adminAddUsersForm">
								<styled-form-field label="Emails" label-padding="true">
									<textarea type="text" ng-model="addUsers.emails" name="emails" placeholder="first@email.com, second@email.com, ..." required></textarea>
								</styled-form-field>
								<styled-form-field label="">
									<div id="adminAddUsersErrorMessage" ng-show="addUsers.showError">There was an error inviting members.<br>Check formatting.</div>
									<button id="adminAddUsersButton" ng-click="submitEmails()" ng-disabled="addUsersForm.$invalid">Add Users</button>
								</styled-form-field>
							</styled-form>
						</div>
					</content-body>
				</content>
			</div>
		</modal>
	</div>

	<div id="adminRepositories" ng-show="currentView == 'repositories'" ng-controller="AdminRepositories">
		<content>
			<content-header content-header-padding>Manage Repositories
				<content-header-subtext>
					<a ng-click="addRepository.modalVisible=true" ng-class="{disabled: repositories.length >= maxRepositoryCount}" ng-show="repositories != null && maxRepositoryCount != null">+ Add Repository</a>
				</content-header-subtext>
			</content-header>
			<content-body unselectable>
				<div id="adminRepositoriesContent">
					<table class="prettyTable">
						<tr class="title">
							<td class="nameColumn" ng-click="orderByPredicate = 'lastName'; orderByReverse = !orderByReverse">Name</td>
							<td class="createdColumn" ng-click="orderByPredicate = 'timestamp'; orderByReverse = !orderByReverse">Created</td>
							<td class="publicKeyColumn">Actions</td>
							<td class="forwardUrlColumn"></td>
							<td class="removeColumn"></td>
						</tr>

						<tr ng-show="repositories.length == 0">
							<td class="nameColumn" text-selectable>There are no repositories</td>
							<td class="createdColumn"></td>
							<td class="publicKeyColumn"></td>
							<td class="forwardUrlColumn"></td>
							<td class="removeColumn"></td>
						</tr>

						<tr ng-repeat="repository in repositories | orderBy:orderByPredicate:orderByReverse">
							<td class="nameColumn" text-selectable>{{repository.name}}</td>
							<td class="createdColumn" text-selectable>{{repository.timestamp | date:'MM/dd/yyyy'}}</td>
							<td class="publicKeyColumn"><a ng-click="showPublicKey(repository)">Show SSH</a></td>
							<td class="forwardUrlColumn"><a ng-click="showForwardUrl(repository)">Edit URL</a></td>
							<td class="removeColumn"><a class="removeLink" ng-click="openRemoveRepository(repository)">Delete</a></td>
						</tr>
					</table>
				</div>
			</content-body>
		</content>

		<modal modal-visible="addRepository.modalVisible">
			<div id="adminAddRepository">
				<content>
					<content-header content-header-padding>Add Repository</content-header>
					<content-body unselectable>
						<div id="adminAddRepositoryContentFirst" ng-show="addRepository.stage == 'first'">
							<styled-form name="addRepositoryForm" id="adminAddRepositoryForm">
								<styled-form-field label="Name" label-padding="true">
									<input type="text" ng-model="addRepository.name" name="name" placeholder="name" ng-pattern="/^[A-Za-z0-9-_]+$/" ng-maxlength="64" required focused>
									<styled-form-field-error tooltip="Name contains invalid characters" error-visible="addRepositoryForm.name.$dirty && addRepositoryForm.name.$invalid"></styled-form-field-error>
								</styled-form-field>
								<styled-form-field label="Forward Url" label-padding="true">
									<input type="text" ng-model="addRepository.forwardUrl" name="forwardUrl" placeholder="git@awesome.com:awesome/repository.git" ng-pattern="/@[-\\./a-zA-Z0-9]+/" ng-maxlength="256" required>
									<styled-form-field-error tooltip="Invalid forward url" error-visible="addRepositoryForm.forwardUrl.$dirty && addRepositoryForm.forwardUrl.$invalid"></styled-form-field-error>
								</styled-form-field>
								<styled-form-field label="Type">
									<input type="radio" ng-model="addRepository.type" name="type" value="git">Git
									<input type="radio" ng-model="addRepository.type" name="type" value="hg">Hg
								</styled-form-field>
								<styled-form-field label="">
									<button id="adminAddRepositoryGetPublicKeyButton" ng-click="getSshKey()" ng-disabled="addRepositoryForm.$invalid">Add Repository</button>
								</styled-form-field>
							</styled-form>
						</div>

						<div id="adminAddRepositoryContentSecond" ng-show="addRepository.stage == 'second'">
							<div id="addRepositoryPublicKeyInformation">
								To finish setting up your repository, Koality needs permission to connect!<br>
								Add this ssh key to the list of allowed keys for {{addRepository.name}}.<br>
								If you've already added a ssh key in the past, you can skip this step.
							</div>

							<textarea ng-model="addRepository.publicKey" highlight-on-first-click readonly></textarea>

							<div id="adminAddRepositorySubmitButtonContainer">
								<button ng-click="createRepository()">Complete Creation</button>
							</div>
						</div>
					</content-body>
				</content>
			</div>
		</modal>

		<modal modal-visible="removeRepository.modalVisible">
			<div id="adminRemoveRepository">
				<content>
					<content-header content-header-padding>Remove Repository</content-header>
					<content-body unselectable>
						<div id="adminRemoveRepositoryWarning">
							To remove {{removeRepository.name}}, you must first enter your password with the following token:
							<span id="adminRemoveRepositoryWarningToken" text-selectable>{{removeRepository.tokenToMatch}}</span>
						</div>

						<div id="adminRemoveRepositoryContent">
							<styled-form name="removeRepositoryForm" id="adminRemoveRepositoryForm">
								<styled-form-field label="Password">
									<input type="password" ng-model="removeRepository.password" name="password" placeholder="p4ssW0rd" ng-maxlength="256" required>
								</styled-form-field>
								<styled-form-field label="Token" label-padding="true">
									<input type="text" ng-model="removeRepository.token" name="token" placeholder="token" ng-maxlength="64" required>
									<styled-form-field-error tooltip="Token mismatch" error-visible="removeRepositoryForm.token.$dirty && removeRepository.token != removeRepository.tokenToMatch"></styled-form-field-error>
								</styled-form-field>
								<styled-form-field label="">
									<button id="adminRemoveRepositoryButton" ng-click="submitRemoveRepository()" ng-disabled="removeRepositoryForm.$invalid || removeRepository.token != removeRepository.tokenToMatch">Remove Repository</button>
								</styled-form-field>
							</styled-form>
						</div>
					</content-body>
				</content>
			</div>
		</modal>

		<modal modal-visible="publicKey.modalVisible">
			<div id="adminPublicKey">
				<content>
					<content-header content-header-padding>Show SSH</content-header>
					<content-body unselectable>
						<textarea ng-model="publicKey.key" highlight-on-first-click readonly></textarea>
					</content-body>
				</content>
			</div>
		</modal>

		<modal modal-visible="forwardUrl.modalVisible">
			<div id="adminForwardUrl">
				<content>
					<content-header content-header-padding>Edit Url</content-header>
					<content-body unselectable>
						<styled-form name="editForwardUrlForm" id="adminForwardUrlForm">
							<styled-form-field label="Forward Url" label-padding="true">
								<input type="text" ng-model="forwardUrl.url" name="forwardUrl" placeholder="git@awesome.com:awesome/repository.git" ng-pattern="/@[-\\./a-zA-Z0-9]+:/" ng-maxlength="256" required>
								<styled-form-field-error tooltip="Invalid forward url" error-visible="editForwardUrlForm.forwardUrl.$dirty && editForwardUrlForm.forwardUrl.$invalid"></styled-form-field-error>
							</styled-form-field>
							<styled-form-field label="">
								<button id="adminForwardUrlButton" ng-click="editForwardUrl()" ng-disabled="editForwardUrlForm.$invalid">Save</button>
							</styled-form-field>
						</styled-form>
					</content-body>
				</content>
			</div>
		</modal>
	</div>

	<div id="adminAws" ng-show="currentView == 'aws'" ng-controller="AdminAws">
		<content>
			<content-header content-header-padding>Manage AWS</content-header>
			<content-body unselectable>
				<div id="adminAwsContent">
					<styled-form name="awsForm">
						<styled-form-field label="Access key" label-padding="true">
							<input type="text" ng-model="awsKeys.accessKey" name="accessKey" placeholder="aws access key id" ng-pattern="/^[\w]+$/" ng-minlength="16" ng-maxlength="32" required focused>
							<styled-form-field-error tooltip="Invalid access key id" error-visible="awsForm.accessKey.$dirty && awsForm.accessKey.$invalid"></styled-form-field-error>
						</styled-form-field>
						<styled-form-field label="Secret key" label-padding="true">
							<input type="text" ng-model="awsKeys.secretKey" name="secretKey" placeholder="aws secret access key" ng-maxlength="128" required>
							<styled-form-field-error tooltip="Invalid secret access key" error-visible="awsForm.secretKey.$dirty && awsForm.secretKey.$invalid"></styled-form-field-error>
						</styled-form-field>
						<styled-form-field label="Instance size" label-padding="true">
							<select ng-model="instanceSettings.instanceSize" ng-options="instanceSize as instanceSize for instanceSize in allowedInstanceSizes"></select>
						</styled-form-field>
						<styled-form-field label="Ready instances" label-padding="true">
							<input type="number" ng-model="instanceSettings.numWaiting" name="numWaiting" min="0" max="1000" required>
							<styled-form-field-error tooltip="Invalid number of waiting instances (0-1000)" error-visible="awsForm.numWaiting.$dirty && awsForm.numWaiting.$invalid"></styled-form-field-error>
							<styled-form-field-error tooltip="Must be less than max running instances" error-visible="awsForm.numWaiting.$valid && awsForm.maxRunning.$valid && instanceSettings.numWaiting > instanceSettings.maxRunning"></styled-form-field-error>
						</styled-form-field>
						<styled-form-field label="Max running instances" label-padding="true">
							<input type="number" ng-model="instanceSettings.maxRunning" name="maxRunning" min="1" max="10000" required>
							<styled-form-field-error tooltip="Invalid number of running instances (1-10000)" error-visible="awsForm.maxRunning.$dirty && awsForm.maxRunning.$invalid"></styled-form-field-error>
						</styled-form-field>
						<styled-form-field label="">
							<button id="adminAwsSubmitButton" ng-click="submit()" ng-disabled="awsForm.$invalid || instanceSettings.numWaiting > instanceSettings.maxRunning">Save Changes</button>
						</styled-form-field>
					</styled-form>
				</div>
			</content-body>
		</content>
	</div>

	<div id="adminExporter" ng-show="currentView == 'exporter'" ng-controller="AdminExporter">
		<content>
			<content-header content-header-padding>Manage Exporter</content-header>
			<content-body unselectable>
				<div id="adminExporterContent">
					<styled-form name="exporterForm">
						<styled-form-field label="S3 bucket name" label-padding="true">
							<input type="text" ng-model="exporter.s3bucketName" name="bucketName" placeholder="bucket-name" ng-pattern="/^$|^[-_a-zA-Z0-9]{3,}$/" ng-maxlength="64" focused>
							<styled-form-field-error tooltip="Invalid bucket name" error-visible="exporterForm.bucketName.$dirty && exporterForm.bucketName.$invalid"></styled-form-field-error>
						</styled-form-field>
						<styled-form-field label="">
							<button id="adminExporterSubmitButton" ng-click="submit()" ng-disabled="exporterForm.$invalid">Save Changes</button>
						</styled-form-field>
					</styled-form>
				</div>
			</content-body>
		</content>
	</div>

	<div id="adminApi" ng-show="currentView == 'api'" ng-controller="AdminApi">
		<content>
			<content-header content-header-padding>Api</content-header>
			<content-body unselectable>
				<div id="adminApiContent">
					<div id="adminApiMessage" ng-show="domainName != null" text-selectable>
						You can access the Admin REST Api from <span id="adminApiUri">https://{{domainName}}/api/v/0/...</span>, using the following api key:
					</div>

					<div id="adminApiKey" text-selectable>{{apiKey}}</div>

					<button class="centered" ng-click="regenerateKey()" ng-show="!mustConfirmRegenerateKey">Regenerate Key</button>

					<div id="adminApiConfirmRegenerate" ng-show="mustConfirmRegenerateKey">
						<p>Are you sure you would like to do this?  This <strong>cannot</strong> be reversed.</p>
						<button ng-click="confirmRegenerateKey()">Continue</button><button ng-click="cancelRegenerateKey()">Cancel</button>
					</div>
				</div>
			</content-body>
		</content>
	</div>

	<div id="adminUpgrade" ng-show="currentView == 'upgrade'" ng-controller="AdminUpgrade">
		<content>
			<content-header content-header-padding>Upgrade</content-header>
			<content-body unselectable>
				<div id="adminUpgradeContent">
					<div id="adminUpgradeMessage">
						{{upgrade.message}}
					</div>
					<spinner id="adminUpgradeCheckSpinner" spinner-running="upgrade.spinnerOn"></spinner>

					<button id="adminUpgradeButton" ng-click="performUpgrade()" ng-disabled="!upgrade.upgradeAllowed">Upgrade</button>
				</div>
			</content-body>
		</content>
	</div>
</centered-panel>
 -->