<centered-panel id="createAccount">
	<content>
		<content-header content-header-padding ng-class="{red: showError}">Create Account<span id="createAccountError" ng-show="showError">Error occured. User may already exist.</span></content-header>
		<content-body unselectable>
			<div id="createAccountContent">
				<styled-form name="createAccountForm">
					<styled-form-field label="Email" label-padding="true">
						<input type="email" ng-model="account.email" ng-maxlength="256" readonly>
					</styled-form-field>
					<styled-form-field label="First name" label-padding="true">
						<input type="text" ng-model="account.firstName" name="firstName" placeholder="First" ng-pattern="/^[-'a-zA-Z]+$/" ng-maxlength="64" autocomplete="on" required focused>
						<styled-form-field-error tooltip="Invalid first name" error-visible="createAccountForm.firstName.$dirty && createAccountForm.firstName.$invalid"></styled-form-field-error>
					</styled-form-field>
					<styled-form-field label="Last name" label-padding="true">
						<input type="text" ng-model="account.lastName" name="lastName" placeholder="Last" ng-pattern="/^[-'a-zA-Z]+$/" ng-maxlength="64" autocomplete="on" required>
						<styled-form-field-error tooltip="Invalid last name" error-visible="createAccountForm.lastName.$dirty && createAccountForm.lastName.$invalid"></styled-form-field-error>
					</styled-form-field>
					<styled-form-field label="Password" label-padding="true">
						<input type="password" ng-model="account.password" name="password" placeholder="p4ssW0rd" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/" ng-minlength="8" ng-maxlength="256" required>
						<styled-form-field-error tooltip="Password must contain at least 8 characters, a letter, and a number" error-visible="createAccountForm.password.$dirty && createAccountForm.password.$invalid"></styled-form-field-error>
					</styled-form-field>
					<styled-form-field label="Confirm password" label-padding="true">
						<input type="password" ng-model="account.confirmPassword" name="confirmPassword" placeholder="p4ssW0rd, again" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/" ng-minlength="8" ng-maxlength="256" required>
						<styled-form-field-error tooltip="Passwords do not match" error-visible="createAccountForm.confirmPassword.$dirty && account.password != account.confirmPassword"></styled-form-field-error>
					</styled-form-field>
					<styled-form-field label="">
						<button id="createAccountButton" ng-click="submit()" ng-disabled="createAccountForm.$invalid || account.password != account.confirmPassword">Create</button>	
					</styled-form-field>
				</styled-form>
			</div>
		</content-body>
	</content>
</centered-panel>
