@import '../constants';


#createAccount {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 375px;

	#defaultCreateAccountPanel {
		height: 455px;

		.busyButton {
			margin: 20px 0 20px 0;
		}
	}

	#googleCreateAccountPanel {
		height: 150px;

		.busyButton {
			margin-bottom: 20px;
		}
	}

	#verifyEmailSent {
		height: 150px;

		#verifyEmailSentMessage {
			margin-top: 10px;
			font-size: 16px;
			text-align: center;
		}
	}
}
