<div id="accountPassword" ng-controller="AccountPassword">
	<panel-header>Change Password</panel-header>
	<panel-body no-scroll>
		<form name="accountPasswordForm" novalidate>
			<div class="formContainer centered">
				<label>Old Password</label>
				<input type="password" ng-model="password.old" name="oldPassword" focused required>

				<label>New Password<span class="sublabel">Min 8 characters, one letter, one number</span></label>
				<input type="password" ng-model="password.new" name="newPassword" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/" ng-minlength="8" ng-maxlength="256" required>

				<label>Confirm New Password</label>
				<input type="password" ng-model="password.confirm" name="confirmPassword" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/" ng-minlength="8" ng-maxlength="256" required>
			</div>

			<div class="bottomContanier">
				<div class="formDivider"></div>

				<busy-button centered busy="makingRequest" click="submit()" disabled="accountPasswordForm.$invalid">Save Changes</busy-button>
			</div>
		</form>
	</panel-body>
</div>
