<div id="adminRepositories" ng-controller="AdminRepositories">
	<panel-header>
		Repositories
		<button ng-click="toggleDrawer('addRepository')">Add a New Repository</button>
		<a ng-click="toggleDrawer('publicKey')">Show SSH Key</a>
	</panel-header>

	<panel-body no-padding open-drawer="currentlyOpenDrawer">
		<panel-drawer drawer-name="addRepository">
			<form id="addRepositoryForm" name="addRepositoryForm" novalidate>
				<table>
					<tr>
						<td class="setupTypeColumn">
							<label>Setup Type</label>
							<select ng-model="addRepository.setupType">
								<option value="manual">Manual Setup</option>
								<option value="github">GitHub Setup</option>
							</select>
						</td>
						<td class="nameColumn">
							<label>Name</label>
							<input type="text" ng-model="addRepository.name" name="name" ng-maxlength=64 focused required>
						</td>
						<td class="forwardUrlColumn">
							<label>Forward Url</label>
							<input type="text" ng-model="addRepository.forwardUrl" name="forwardUrl" ng-maxlength=256 required>
						</td>
						<td class="typeColumn">
							<label>Type</label>
							<select ng-model="addRepository.type">
								<option value="git">Git</option>
								<option value="hg">Hg</option>
							</select>
						</td>
						<td class="addRepositorySubmitColumn">
							<busy-button busy="addRepository.makingRequest" click="createRepository()" disabled="addRepositoryForm.$invalid">Add</busy-button>
						</td>
						<td class="addRepositoryCancelColumn">
							<a ng-click="clearAddRepository()">Cancel</a>
						</td>
					</tr>
				</table>
			</form>
		</panel-drawer>

		<panel-drawer drawer-name="publicKey">
			<table id="publicKeyTable">
				<tr>
					<td class="sshKeyColumn">
						<label>SSH Key<span class="sublabel">Unmodifiable</span></label>
						<input type="text" ng-model="publicKey.key" highlight-on-first-click read-only>
					</td>
					<td class="closePublicKeyColumn">
						<a ng-click="toggleDrawer('publicKey')">Close</a>
					</td>
				</tr>
			</table>
		</panel-drawer>

		<div id="repositoriesList" fading-content>
			<table class="delineated">
				<tr>
					<th class="nameColumn unselectable" ng-click="orderByPredicate = 'name'; orderByReverse = !orderByReverse">
						<div class="triangle gray" ng-class="{right: orderByPredicate != 'name', up: orderByPredicate == 'name' && !orderByReverse, down: orderByPredicate == 'name' && orderByReverse}"></div>
						Name
					</th>
					<th class="forwardUrlColumn unselectable" ng-click="orderByPredicate = 'forwardUrl'; orderByReverse = !orderByReverse">
						<div class="triangle gray" ng-class="{right: orderByPredicate != 'forwardUrl', up: orderByPredicate == 'forwardUrl' && !orderByReverse, down: orderByPredicate == 'forwardUrl' && orderByReverse}"></div>
						Forward URL
					</th>
					<th class="createdColumn unselectable" ng-click="orderByPredicate = 'timestamp'; orderByReverse = !orderByReverse">
						<div class="triangle gray" ng-class="{right: orderByPredicate != 'timestamp', up: orderByPredicate == 'timestamp' && !orderByReverse, down: orderByPredicate == 'timestamp' && orderByReverse}"></div>
						Date Created
					</th>
					<th class="editColumn unselectable">Actions</th>
				</tr>

				<tr ng-show="repositories.length == 0">
					<td class="nameColumn" text-selectable>There are no repositories</td>
					<td class="forwardUrlColumn" text-selectable></td>
					<td class="createdColumn" text-selectable></td>
					<td class="editColumn"></td>
				</tr>

				<tr ng-repeat="repository in repositories | orderBy:orderByPredicate:orderByReverse" ng-class="{editing: repository.id == currentlyEditingRepositoryId}">
					<td class="nameColumn" text-selectable>{{repository.name}}</td>
					<td class="forwardUrlColumn" text-selectable>
						<span ng-show="repository.id != currentlyEditingRepositoryId">{{repository.forwardUrl}}</span>
						<input type="text" ng-model="repository.newForwardUrl" ng-maxlength=256 ng-show="repository.id == currentlyEditingRepositoryId">
					</td>
					<td class="createdColumn" text-selectable>{{repository.timestamp | date:'MM/dd/yyyy'}}</td>
					<td class="editColumn">
						<a ng-click="editRepository(repository)" ng-show="repository.id != currentlyEditingRepositoryId">Edit</a>
						<a ng-click="saveRepository(repository)" ng-show="repository.id == currentlyEditingRepositoryId">Save</a>
						<a class="red" ng-click="deleteRepository(repository)" ng-show="repository.id == currentlyEditingRepositoryId">Delete</a>
						<a class="gray" ng-click="editRepository(null)" ng-show="repository.id == currentlyEditingRepositoryId">Cancel</a>
					</td>
				</tr>
			</table>
		</div>
	</panel-body>
</div>
