@import '../../constants';


#adminRepositories {

	#addRepositoryForm {

		table {
			width: 100%;
			table-layout: fixed;

			td {
				padding: 0 15px 0 15px;

				&:first-child { padding-left: 0; }
				&:last-child { padding-right: 0; }
			}

			input {
				margin: 0;
			}

			.setupTypeColumn {
				width: 150px;
			}

			.nameColumn {
				width: 200px;
			}

			.forwardUrlColumn {

			}

			.typeColumn {
				width: 100px;
			}

			.addRepositorySubmitColumn {
				width: 90px;
				padding-top: 23px;
			}

			.addRepositoryCancelColumn {
				width: 100px;
				padding-top: 23px;
			}
		}
	}

	table#publicKeyTable {
		width: 100%;
		table-layout: fixed;

		td {
			padding: 0 15px 0 15px;

			&:first-child { padding-left: 0; }
			&:last-child { padding-right: 0; }
		}

		.sshKeyColumn {

			input {
				margin: 0;
			}
		}

		.closePublicKeyColumn {
			width: 100px;
			padding-top: 23px;
		}
	}

	#repositoriesList {
		table {
			width: 100%;
			table-layout: fixed;

			th {
				&.nameColumn, &.forwardUrlColumn, &.createdColumn {
					cursor: hand;
					cursor: pointer;
				}
			}

			tr.editing {
				color: @koalityGray;

				.createdColumn, .editColumn {
					padding-top: 46px;
				}
			}

			.nameColumn {
				padding-left: 30px;
				width: 300px;

				div {
					margin-right: 30px;
				}
			}

			.forwardUrlColumn {
				div {
					margin-right: 30px;
				}
			}

			.createdColumn {
				width: 180px;
			}

			.editColumn {
				padding-right: 30px;
				width: 150px;

				a {
					display: inline-block;
					margin-right: 10px;
				}
			}

			.deleteColumn {

				.deleteRepositoryActions {
					height: 50px;

					input {
						display: inline-block;
						width: 150px;
						vertical-align: top;
					}

					a {
						display: inline-block;
						margin: 8px 0 0 15px;
						vertical-align: top;
					}
				}
			}
		}
	}
}
