@import '../../constants';


#adminRepositories {

	// #addUsersForm {

	// 	table {
	// 		width: 100%;
	// 		table-layout: fixed;

	// 		td {
	// 			padding: 0 15px 0 15px;

	// 			&:first-child { padding-left: 0; }
	// 			&:last-child { padding-right: 0; }
	// 		}

	// 		.addUsersColumn {

	// 			input {
	// 				margin: 0;
	// 			}
	// 		}

	// 		.addUsersSubmitColumn {
	// 			width: 120px;
	// 			padding-top: 23px;
	// 		}

	// 		.addUsersCancelColumn {
	// 			width: 100px;
	// 			padding-top: 23px;
	// 		}
	// 	}
	// }

	#repositoriesList {
		table {
			width: 100%;
			table-layout: fixed;

			th {
				&.nameColumn, &.forwardUrlColumn, &.createdColumn {
					cursor: hand;
					cursor: pointer;
				}
			}

			.nameColumn {
				padding-left: 30px;
				width: 300px;
			}

			.forwardUrlColumn {

			}

			.createdColumn {
				width: 180px;
			}

			.editColumn {
				padding-right: 30px;
				width: 120px;
			}
		}
	}
}
