<centered-panel id="account">
	<div id="accountOptions">
		<content-menu>
			<content-menu-header menu-header-padding>{{name}}</content-menu-header>
			<content-menu-options>
				<content-menu-option menu-option-text="My Account" ng-click="menuOptionClick('basic')" ng-class="{selected: currentView == 'basic', green: currentView == 'basic'}"></content-menu-option>
				<content-menu-option menu-option-text="Password" ng-click="menuOptionClick('password')" ng-class="{selected: currentView == 'password', green: currentView == 'password'}"></content-menu-option>
				<content-menu-option menu-option-text="SSH Keys" ng-click="menuOptionClick('sshKeys')" ng-class="{selected: currentView == 'sshKeys', green: currentView == 'sshKeys'}"></content-menu-option>
			</content-menu-options>
		</menu>
	</div>

	<div id="accountBasic" ng-show="currentView == 'basic'" ng-controller="AccountBasic">
		<content>
			<content-header content-header-padding>My Account</content-header>
			<content-body unselectable>
				<div id="accountBasicContent">
					<styled-form name="basicForm">
						<styled-form-field label="First name" label-padding="true">
							<input type="text" ng-model="account.firstName" name="firstName" placeholder="First" ng-pattern="/^[-'a-zA-Z]+$/" ng-maxlength="64" autocomplete="on" required focused>
							<styled-form-field-error tooltip="Invalid first name" error-visible="basicForm.firstName.$dirty && basicForm.firstName.$invalid"></styled-form-field-error>
						</styled-form-field>
						<styled-form-field label="Last name" label-padding="true">
							<input type="text" ng-model="account.lastName" name="lastName" placeholder="Last" ng-pattern="/^[-'a-zA-Z]+$/" ng-maxlength="64" autocomplete="on" required>
							<styled-form-field-error tooltip="Invalid last name" error-visible="basicForm.lastName.$dirty && basicForm.lastName.$invalid"></styled-form-field-error>
						</styled-form-field>
						<styled-form-field label="">
							<button id="accountBasicButton" ng-click="submit()" ng-disabled="basicForm.$invalid">Save Changes</button>
						</styled-form-field>
					</styled-form>
				</div>
			</content-body>
		</content>
	</div>

	<div id="accountPassword" ng-show="currentView == 'password'" ng-controller="AccountPassword">
		<content>
			<content-header content-header-padding>Password</content-header>
			<content-body unselectable>
				<div id="accountPasswordContent">
					<styled-form name="passwordForm">
						<styled-form-field label="Old password" label-padding="true">
							<input type="password" ng-model="account.oldPassword" name="oldPassword" placeholder="old p4ssW0rd" required focused>
						</styled-form-field>
						<styled-form-field label="New password" label-padding="true">
							<input type="password" ng-model="account.newPassword" name="newPassword" placeholder="new p4ssW0rd" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/" ng-minlength="8" ng-maxlength="256" required>
							<styled-form-field-error tooltip="Password must contain at least 8 characters, a letter, and a number" error-visible="passwordForm.newPassword.$dirty && passwordForm.newPassword.$invalid"></styled-form-field-error>
						</styled-form-field>
						<styled-form-field label="Confirm password" label-padding="true">
							<input type="password" ng-model="account.confirmPassword" name="confirmPassword" placeholder="p4ssW0rd, again" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/" ng-minlength="8" ng-maxlength="256" required>
							<styled-form-field-error tooltip="Passwords do not match" error-visible="passwordForm.confirmPassword.$dirty && account.newPassword != account.confirmPassword"></styled-form-field-error>
						</styled-form-field>
						<styled-form-field label="">
							<button id="accountPasswordButton" ng-click="submit()" ng-disabled="passwordForm.$invalid">Save Changes</button>
						</styled-form-field>
					</styled-form>
				</div>
			</content-body>
		</content>
	</div>

	<div id="accountSshKeys" ng-show="currentView == 'sshKeys'" ng-controller="AccountSshKeys">
		<content>
			<content-header content-header-padding>SSH Keys
				<content-header-subtext><a ng-click="addKey.modalVisible=true">+ Add a New SSH Key</a></content-header-subtext>
			</content-header>
			<content-body unselectable>
				<div id="accountSshKeysContent">
					<table class="prettyTable">
						<tr class="title">
							<td class="aliasColumn" ng-click="orderByPredicate = 'alias'; orderByReverse = !orderByReverse">Alias</td>
							<td class="createdColumn" ng-click="orderByPredicate = 'timestamp'; orderByReverse = !orderByReverse">Created</td>
							<td class="removeColumn">Remove</td>
						</tr>

						<tr ng-show="keys.length == 0">
							<td class="aliasColumn" text-selectable>You don't have any SSH keys for this account</td>
							<td class="createdColumn"></td>
							<td class="removeColumn"></td>
						</tr>

						<tr ng-repeat="key in keys | orderBy:orderByPredicate:orderByReverse">
							<td class="aliasColumn" text-selectable>{{key.alias}}</td>
							<td class="createdColumn" text-selectable>{{key.timestamp | date:'MM/dd/yyyy'}}</td>
							<td class="removeColumn"><a class="removeLink" ng-click="removeKey(key)">Delete</a></td>
						</tr>
					</table>
				</div> 
			</content-body>
		</content>

		<modal modal-visible="addKey.modalVisible">
			<div id="accountAddSshKey">
				<content>
					<content-header content-header-padding ng-class="{green: addKey.showSuccess, red: addKey.showError}">Add a New SSH Key
						<content-header-subtext><span ng-show="addKey.showError">Already in use</span></content-header-subtext>
					</content-header>
					<content-body unselectable>
						<div id="accountAddSshKeyContent">
							<styled-form name="addSshKeyForm" id="accountAddSshKeyForm">
								<styled-form-field label="Alias" label-padding="true">
									<input type="text" ng-model="addKey.alias" name="alias" placeholder="Alias" ng-maxlength="64" required>
								</styled-form-field>
								<styled-form-field label="Key" label-padding="true">
									<textarea type="text" ng-model="addKey.key" name="key" placeholder="Key" ng-pattern="/^ssh-(?:dss|rsa) [A-Za-z0-9+/]+={0,2}/" ng-maxlength="8192" required></textarea>
									<styled-form-field-error tooltip="Invalid key" error-visible="addSshKeyForm.key.$dirty && addSshKeyForm.key.$invalid"></styled-form-field-error>
								</styled-form-field>
								<styled-form-field label="">
									<button id="accountAddSshKeyButton" ng-click="submitKey()" ng-disabled="addSshKeyForm.$invalid">Add Key</button>
								</styled-form-field>
							</styled-form>
						</div>
					</content-body>
				</content>
			</div>
		</modal>
	</div>
</centered-panel>
