<content id="analytics">
	<content-header content-header-padding>Analytics Dashboard</content-header>
	<content-body unselectable>
		<div id="analyticsOptions">
			<div class="analyticsOptionTitle">Graph</div>
			<select ng-model="options.graph" ng-options="graph as graph.title for graph in allowedGraphs"></select>

			<div class="analyticsOptionTitle">Repository</div>
			<select ng-model="options.repository" ng-options="repository as repository.name for repository in options.repositories"></select>

			<div class="analyticsOptionTitle">Duration</div>
			<select ng-model="options.duration" ng-options="duration as duration.title for duration in allowedDurations"></select>

			<div class="analyticsOptionTitle">Interval</div>
			<select ng-model="options.interval" ng-options="interval as interval.title for interval in options.intervals"></select>
		</div>

		<div id="analyticsVisual">
			<div id="analyticsVisualHeader">
				<div id="headerGraphAndRepository">
					<strong>{{options.graph.title}}</strong> of <strong>{{options.repository.name}}</strong>
				</div>
				<div id="headerDuration">
					<span ng-show="options.duration.value == 'last365'">
						Duration: <strong>{{graphOptions.start | date:'MM/dd/yyyy'}}</strong> <span ng-show="options.duration.value != 'today'">to <strong>{{graphOptions.end | date:'MM/dd/yyyy'}}</strong></span>
					</span>
					<span ng-show="options.duration.value != 'last365'">
						Duration: <strong>{{graphOptions.start | date:'EEE MM/dd'}}</strong> <span ng-show="options.duration.value != 'today'">to <strong>{{graphOptions.end | date:'EEE MM/dd'}}</strong></span>
					</span>
				</div>
				<div id="headerInterval">
					Interval: <strong>{{options.interval.title}}</strong>
				</div>
			</div>

			<change-analytics id="analyticsVisualGraph" changes="graphOptions.changes" changes-to-show="graphOptions.changesToShow" start-time="graphOptions.start" end-time="graphOptions.end" interval="graphOptions.interval"></change-analytics>
		</div>
	</content-body>
</content>
