<div id="repository">
	<div id="repositoryHeaderPanel" unselectable>
		<span id="repositoryHeaderTitle">{{repository.name}}</span>
		<span id="repositoryHeaderUri" text-selectable>{{repository.uri}}</span>
	</div>

	<div id="repositoryChanges" ng-controller="RepositoryChanges">
		<content-menu>
			<content-menu-header>
				<div id="repositoryChangesSearchContainer">
					<div id="repositoryChangesSearch" ng-class="{searchOn: search.mode == 'search'}">
						<div id="repositoryChangesSearchAll" ng-class="{selected: search.mode == 'all'}" ng-click="searchModeClicked('all')">All</div>
						<div id="repositoryChangesSearchMe" ng-class="{selected: search.mode == 'me'}" ng-click="searchModeClicked('me')">Me</div>
						<div id="repositoryChangesSearchNames" ng-class="{selected: search.mode == 'search'}" ng-click="searchModeClicked('search')" input-focus-on-click>
							<div id="repositorySearchImageAndInputContainer">
								<img ng-src="{{'/img/icons/search.png' | fileSuffix}}"><input type="text" ng-model="search.namesQuery" placeholder="User">
							</div>
						</div>
					</div>
				</div>
			</content-menu-header>
			<content-menu-options on-scroll-to-bottom="scrolledToBottom()">
				<content-menu-option ng-repeat="change in changes | orderBy:'number':true" menu-option-identifier="{{change.number}}" menu-option-text="{{change.aggregateStatus}}" menu-option-spinning="{{change.verificationStatus == 'running'}}" ng-click="selectChange(change)" ng-class="{selected: change.id == currentChangeId, green: change.aggregateStatus == 'passed', red: change.aggregateStatus == 'failed' || change.aggregateStatus == 'skipped'}"></content-menu-option>
			</content-menu-options>
		</menu>
	</div>

	<div id="repositoryStages" ng-controller="RepositoryStages">
		<content-menu>
			<content-menu-header menu-header-padding>
				<span ng-show="currentChangeInformation != null">Change {{currentChangeInformation.number}}</span>
			</content-menu-header>
			<content-menu-options>
				<content-menu-option menu-option-text="summary" ng-show="currentChangeInformation != null" ng-click="selectStage(null)" ng-class="{selected: currentStageId == null && !showSkipped && !showMerge && !showDebug, green: currentChangeInformation.aggregateStatus == 'passed', red: currentChangeInformation.aggregateStatus == 'failed' || currentChangeInformation.aggregateStatus == 'skipped'}"></content-menu-option>

				<content-menu-option ng-repeat="stage in stages | filter:shouldStageBeVisible | orderBy:[stageSort, 'name']" menu-option-text="{{stage.name}}" menu-option-spinning="{{stage.status == 'running'}}" ng-click="selectStage(stage)" ng-class="{selected: stage.id == currentStageId, green: stage.status == 'passed', red: stage.status == 'failed'}"></content-menu-option>

				<content-menu-option menu-option-text="skipped" ng-show="currentChangeInformation.aggregateStatus == 'skipped'" ng-click="selectSkipped()" ng-class="{selected: currentStageId == null && showSkipped, red: true}"></content-menu-option>

				<content-menu-option menu-option-text="merge" ng-show="currentChangeInformation.mergeStatus != null" ng-click="selectMerge()" ng-class="{selected: currentStageId == null && showMerge, green: currentChangeInformation.mergeStatus == 'passed', red: currentChangeInformation.mergeStatus == 'failed'}"></content-menu-option>

				<content-menu-option menu-option-text="debug" ng-show="currentChangeInformation.aggregateStatus == 'failed' && !retrievingStages && stages.length == 0" ng-click="selectDebug()" ng-class="{selected: currentStageId == null && showDebug, red: true}"></content-menu-option>
			</content-menu-options>
		</menu>
	</div>

	<div id="repositoryStageDetails" ng-controller="RepositoryStageDetails">
		<content>
			<content-header content-header-padding>
				<span ng-show="currentChangeId != null && currentStageId == null && !showMerge">summary</span>
				<span ng-show="currentChangeId != null && currentStageInformation != null">{{currentStageInformation.name}}</span>
				<span ng-show="currentChangeId != null && currentStageId == null && showMerge">merge</span>
			</content-header>
			<content-body unselectable>
				<spinner id="repositoryStageDetailsLoadingSpinner" spinner-running="spinnerOn"></spinner>

				<div id="repositoryStageDetailsSummary" ng-show="currentChangeId != null && currentChangeInformation != null && currentStageId == null && !showSkipped && !showMerge && !showDebug">
					<styled-form text-selectable>
						<styled-form-field label="Name">{{currentChangeInformation.user.firstName}} {{currentChangeInformation.user.lastName}}</styled-form-field>
						<styled-form-field label="Email"><a href="mailto:{{currentChangeInformation.user.email}}?subject=Koality%3A%20{{repository.name}}%20-%20change%20%23{{currentChangeInformation.number}}&body=Link%20to%20change%3A%20{{currentUrl}}" target="_blank">{{currentChangeInformation.user.email}}</a></styled-form-field>
						<styled-form-field label="Submit time">{{currentChangeInformation.createTime | date:'EEEE, MM/dd hh:mm:ss a'}}</styled-form-field>
						<styled-form-field label="Branch">{{currentChangeInformation.target}}</styled-form-field>
						<styled-form-field label="Head sha">{{currentChangeInformation.headCommit.sha}}</styled-form-field>
						<styled-form-field label="Head commit"><span ng-bind-html="currentChangeInformation.headCommit.message | newLine"></span></styled-form-field>
						<styled-form-field label="Exported files" hide="{{exportUris.length == 0}}">
							<div ng-repeat="uri in exportUris"><a href="{{uri}}" target="_blank">{{uri}}</a></div>
						</styled-form-field>
					</styled-form>
				</div>

				<div id="repositoryStageDetailsOutput" ng-show="currentChangeId != null && currentStageId != null">
					<div class="consoleTextTopBuffer"></div>
					<div class="consoleTextContainer" auto-scroll-to-bottom="lines" auto-scroll-to-bottom-buffer="40">
						<console-text class="consoleText" console-text-lines="lines"></console-text>
					</div>
					<div class="consoleTextBottomBuffer"></div>
				</div>

				<div id="repositoryStageDetailsSkipped" ng-show="currentChangeId != null && currentChangeInformation != null && currentStageId == null && showSkipped && !showMerge && !showDebug">
					<div id="repositoryStageDetailsSkippedMessage">
						This change was not verified because Koality is deactivated.
					</div>
					<div id="repositoryStageDetailsSkippedInstructions">
						Contact your administrator to fix your license.
					</div>
				</div>

				<div id="repositoryStageDetailsMerge" ng-show="currentChangeId != null && currentChangeInformation != null && currentStageId == null && !showSkipped && showMerge && !showDebug">
					<div ng-show="currentChangeInformation.mergeStatus == 'passed'">
						Change merged successfully.
					</div>
					<div ng-show="currentChangeInformation.mergeStatus == 'failed'">
						Failed to merge. Try pulling before pushing again.
					</div>
				</div>

				<div id="repositoryStageDetailsDebug" ng-show="currentChangeId != null && currentChangeInformation != null && currentStageId == null && !showSkipped && !showMerge && showDebug">
					<div id="repositoryStageDetailsDebugMessage">
						This change failed to create any output. This could be caused by invalid AWS credentials.
					</div>
					<div id="repositoryStageDetailsDebugInstructions">
						Contact your administrator to correct the issue.
					</div>
				</div>
			</content-body>
		</content>
	</div>
</div>
