<centered-panel id="welcome">
	<div id="welcomeAnalytics">
		<content>
			<content-header content-header-padding>Dashboard</content-header>
			<content-body unselectable>
				<change-status id="welcomeChangeAnalytics" changes="changes" time-interval="timeInterval"></change-status>

				<div id="welcomeChangeAnalyticsOptions">
					<div id="welcomeChangeAnalyticsRepositoryOption">
						<div id="welcomeChangeAnalyticsRepositoryOptionTitle">Repository</div>
						<select ng-model="currentRepositoryOptionId" ng-options="repository.id as repository.name for repository in repositories" ng-change="repositorySelected(currentRepositoryOptionId)"></select>
					</div>
					<div id="welcomeChangeAnalyticsDurationOption">
						<div id="welcomeChangeAnalyticsDurationTitle">Duration</div>
						<select ng-model="currentFilterOptionId" ng-options="filterOption.id as filterOption.name for filterOption in filterOptions" ng-change="filterSelected(currentFilterOptionId)"></select>
					</div>
				</div>

				<div id="welcomeChangeAnalyticsSummary" ng-show="timeInterval != null && numChanges != null">
					<div class="welcomeChangeAnalyticsSummaryItem">
						<div class="summaryItemTitle">DATE RANGE</div>
						<div class="summaryItemValue">{{timeInterval.start | date:'MMM dd'}} - {{timeInterval.end | date:'MMM dd'}}</div>
					</div>
					<div class="welcomeChangeAnalyticsSummaryItem">
						<div class="summaryItemTitle">TOTAL PUSHES</div>
						<div class="summaryItemValue">{{numChanges.passed + numChanges.failed}}</div>
					</div>
					<div class="welcomeChangeAnalyticsSummaryItem">
						<div class="summaryItemTitle">PASSED PUSHES</div>
						<div class="summaryItemValue green">{{numChanges.passed}}
							<span class="summaryItemValuePercentage">({{100 * numChanges.passed / (numChanges.passed + numChanges.failed) | number:0}}%)</span>
						</div>
					</div>
					<div class="welcomeChangeAnalyticsSummaryItem">
						<div class="summaryItemTitle">FAILED PUSHES</div>
						<div class="summaryItemValue red">{{numChanges.failed}}
							<span class="summaryItemValuePercentage">({{100 * numChanges.failed / (numChanges.passed + numChanges.failed) | number:0}}%)</span>
						</div>
					</div>
				</div>
			</content-body>
		</content>
	</div>
</centered-panel>
