<centered-panel id="wizard">
	<content>
		<content-header content-header-padding>
			Installation Wizard
			<content-header-subtext>Step {{stepNumber}} of 5</content-header-subtext>
		</content-header>
		<content-body unselectable>
			<div id="wizardStepError" ng-show="errorText != null">
				{{errorText}}
			</div>

			<div id="wizardStepZero" ng-show="stepNumber == 0 && errorText == null">
				<div id="wizardStepZeroWelcome">
					This wizard will help you quickly configure Koality for your company.
				</div>
				<button ng-click="goToStepOne()">Get started</button>
			</div>

			<div id="wizardStepOne" ng-show="stepNumber == 1">
				<div id="wizardStepOneIntroduction">
					First, let's configure the website!
				</div>
				<div id="wizardStepOneInstructions">
					What will be the domain name for your Koality website?
				</div>
				<styled-form id="wizardStepOneForm" name="domainForm" styled-form-alignment="center">
					<styled-form-field label="Domain name" label-padding="true">
						<input type="text" ng-model="website.domainName" name="domain" placeholder="koality.companyname.com" ng-pattern="/^[a-zA-Z0-9]+(-+[a-zA-Z0-9]+)*(.[a-zA-Z0-9]+(-+[a-zA-Z0-9]+)*)*$/" ng-maxlength="256" required focused>
						<styled-form-field-error tooltip="Invalid domain name" error-visible="domainForm.domain.$dirty && domainForm.domain.$invalid"></styled-form-field-error>
					</styled-form-field>
					<styled-form-field label="">
						<button ng-click="goToStepTwo()" ng-disabled="domainForm.$invalid">Continue</button>	
					</styled-form-field>
				</styled-form>
			</div>

			<div id="wizardStepTwo" ng-show="stepNumber == 2 && errorText == null">
				<div id="wizardStepTwoIntroduction">
					First, let's create an admin account!
				</div>
				<div id="wizardStepTwoInstructions">
					This admin can add users, repositories, and other admins.
				</div>

				<styled-form id="wizardStepTwoForm" name="adminInformationForm" styled-form-alignment="center">
					<styled-form-field label="Email" label-padding="true">
						<input type="email" ng-model="admin.email" name="email" placeholder="email@address.com" autocomplete="on" required focused>
						<styled-form-field-error tooltip="Invalid email address" error-visible="adminInformationForm.email.$dirty && adminInformationForm.email.$invalid"></styled-form-field-error>
					</styled-form-field>
					<styled-form-field label="First name" label-padding="true">
						<input type="text" ng-model="admin.firstName" name="firstName" placeholder="First" ng-pattern="/^[A-Z][-'a-zA-Z]+$/" ng-maxlength="64" autocomplete="on" required>
						<styled-form-field-error tooltip="Invalid first name" error-visible="adminInformationForm.firstName.$dirty && adminInformationForm.firstName.$invalid"></styled-form-field-error>
					</styled-form-field>
					<styled-form-field label="Last name" label-padding="true">
						<input type="text" ng-model="admin.lastName" name="lastName" placeholder="Last" ng-pattern="/^[A-Z][-'a-zA-Z]+$/" ng-maxlength="64" autocomplete="on" required>
						<styled-form-field-error tooltip="Invalid last name" error-visible="adminInformationForm.lastName.$dirty && adminInformationForm.lastName.$invalid"></styled-form-field-error>
					</styled-form-field>
					<styled-form-field label="Password" label-padding="true">
						<input type="password" ng-model="admin.password" name="password" placeholder="p4ssW0rd" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/" ng-minlength="8" ng-maxlength="256" required>
						<styled-form-field-error tooltip="Password must contain at least 8 characters, a letter, and a number" error-visible="adminInformationForm.password.$dirty && adminInformationForm.password.$invalid"></styled-form-field-error>
					</styled-form-field>
					<styled-form-field label="Confirm password" label-padding="true">
						<input type="password" ng-model="admin.confirmPassword" name="confirmPassword" placeholder="p4ssW0rd, again" ng-pattern="/^(?=.*[a-zA-Z])(?=.*\d).+$/" ng-minlength="8" ng-maxlength="256" required>
						<styled-form-field-error tooltip="Passwords do not match" error-visible="adminInformationForm.confirmPassword.$dirty && admin.password != admin.confirmPassword"></styled-form-field-error>
					</styled-form-field>
					<styled-form-field label="">
						<button ng-click="goToStepThree()" ng-disabled="adminInformationForm.$invalid || admin.password != admin.confirmPassword">Create</button>	
					</styled-form-field>
				</styled-form>
			</div>

			<div id="wizardStepThree" ng-show="stepNumber == 3 && errorText == null">
				<div id="wizardStepThreeIntroduction">
					Nice to meet you {{admin.firstName}} {{admin.lastName}}!
				</div>
				<div id="wizardStepThreeInstructions">
					A token has been sent to {{admin.email}} to confirm that you own this email account.<br>
					Paste the token below to continue.
				</div>
				<styled-form id="wizardStepThreeForm" name="adminTokenForm" styled-form-alignment="center">
					<styled-form-field label="Token" label-padding="true">
						<input type="text" ng-model="admin.token" name="token" placeholder="token" ng-maxlength="32" required focused>
					</styled-form-field>
					<styled-form-field label="">
						<button ng-click="goToStepFour()" ng-disabled="adminTokenForm.$invalid">Continue</button>	
					</styled-form-field>
				</styled-form>
			</div>

			<div id="wizardStepFour" ng-show="stepNumber == 4 && errorText == null">
				<div id="wizardStepFourIntroduction">
					Finally, let's make sure Koality can leverage EC2!
				</div>
				<div id="wizardStepFourInstructions">
					Please enter your AWS details to continue.
				</div>
				<styled-form id="wizardStepFourForm" name="awsForm" styled-form-alignment="center">
					<styled-form-field label="AWS key" label-padding="true">
						<input type="text" ng-model="aws.accessKey" name="accessKey" placeholder="aws key" ng-pattern="/^[\w]+$/" ng-minlength="16" ng-maxlength="32" required focused>
						<styled-form-field-error tooltip="Invalid AWS access key" error-visible="awsForm.accessKey.$dirty && awsForm.accessKey.$invalid"></styled-form-field-error>
					</styled-form-field>
					<styled-form-field label="AWS secret key" label-padding="true">
						<input type="text" ng-model="aws.secretKey" name="secretKey" placeholder="aws secret key" ng-maxlength="128" required>
						<styled-form-field-error tooltip="Invalid AWS secret key" error-visible="awsForm.secretKey.$dirty && awsForm.secretKey.$invalid"></styled-form-field-error>
					</styled-form-field>
					<styled-form-field label="">
						<button ng-click="goToStepFive()" ng-disabled="awsForm.$invalid">Continue</button>	
					</styled-form-field>
				</styled-form>
			</div>

			<div id="wizardStepFive" ng-show="stepNumber == 5 && errorText == null">
				<div id="wizardStepFiveMessage">
					You have finished setting up Koality!
				</div>
				<button ng-click="goToKoality()">Visit Koality</button>
			</div>
		</content-body>
	</content>
</centered-panel>
