@import '../constants';

.prettyConsoleText {
	margin: 0 0 0 50px;
	padding: 0;
	font-family: 'PT Mono', monospace;
	font-size: 12px;
	// counter-reset: item;
 //    list-style-type: none;

    li {
    	// display: block;
    	// box-sizing: border-box;
     //    -moz-box-sizing: border-box;

    	.prettyConsoleTextLineText {
    		display: inline-block;
    		width: 95%;
    		word-wrap: break-word;
    	}

    	// &:before {
    	// 	display: inline-block;
    	// 	padding-right: 15px;
    	// 	width: 40px;
    	// 	color: @koalityGray;
    	// 	text-align: right;
    	// 	vertical-align: top;
    	// 	content: counter(item) " "; 
    	// 	counter-increment: item;
    	// }

        &:hover {
            background-color: lighten(@panelBackground, 5%);
        }
    }
}
