<!doctype html>
<html lang="en" ng-app="koalitySetup">
<head>
<meta charset="utf-8">
<title>Koality</title>
<style type="text/css">[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }</style>

<%- cssFiles %>

<style type="text/css">
	#installationWizard {
		width: 1000px;
		height: 600px;
	}

	#adminInformationForm, #awsInformationForm {
		display: inline-block;
		margin: 30px 0px 0px 30px;
		vertical-align: top;
	}

	#submitButton {
		float: right;
	}
</style>

</head>
<body>

	<div id="main">
		<div id="headerBackground"></div>

		<div id="centerContainer">
			<div id="headerContainer">
				<div id="header" unselectable>
					<span id="headerTitle" ng-click="visitHome()">Koality</span>
				</div>
			</div>

			<div id="contentContainer" ng-view></div>
		</div>
	</div>

<script>
	var fileSuffix = '<%- fileSuffix %>'
	var csrfToken = '<%- csrfToken %>'
</script>

<%- jsFiles %>

</body>
</html>