<!doctype html>
<html lang="en" ng-app="koalitySetup">
<head>
<meta charset="utf-8">
<title>Koality</title>
<style type="text/css">[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }</style>

<%- cssFiles %>

<style type="text/css">
	#installationWizard {
		width: 1000px;
		height: 600px;
	}

	#adminInformationForm, #awsInformationForm {
		display: inline-block;
		margin: 30px 0px 0px 30px;
		vertical-align: top;
	}

	#submitButton {
		float: right;
	}
</style>

</head>
<body>

	<div id="main">
		<div id="headerContainer" ng-controller="Header" ng-include="'/html/header/header.html' | fileSuffix"></div>

		<div id="notificationsContainer"></div>

		<div id="contentContainer">
			<div id="contentCenterContainer" class="growingCentered" ng-view></div>
		</div>
	</div>

<script>
	var fileSuffix = '<%- fileSuffix %>'
	var csrfToken = '<%- csrfToken %>'
</script>

<%- jsFiles %>

</body>
</html>