@import '../constants';

.changesMenu {
	@headerHeight: 40px;
	@footerHeight: 8px;
	@optionHeight: 44px;
	@toothWidth: @optionHeight * .35;

	position: relative;
	width: @menuWidth;
	height: 100%;

	.changesMenuBackgroundPanel {
		position: absolute;
		z-index: 1;
		top: @headerHeight;
		left: 0px;
		right: @toothWidth;
		bottom: @footerHeight;
		background-color: @panelBackground;
	}

	.changesMenuHeader {
		position: absolute;
		z-index: 100;
		top: 0px;
		left: 0px;
		right: 0px;
		height: @headerHeight;

		&.noPadding {
			.changesMenuHeaderContent {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.changesMenuHeaderContent {
			position: absolute;
			top: 0px;
			left: 0px;
			right: @toothWidth;
			padding-left: 12px;
			padding-right: 12px;
			height: @headerHeight;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			background-color: @panelHeaderBackground;
			border-bottom: 1px solid @platformBackground;
			border-top-left-radius: @borderRadius;
			border-top-right-radius: @borderRadius;
			color: @koalityWhite;
			font-size: 18px;
			line-height: @headerHeight;
		}

		.changesMenuHeaderBuffer {
			position: absolute;
			top: 0px;
			right: 0px;
			width: @toothWidth;
			height: @headerHeight + 1;

			background: linear-gradient(to bottom, fade(@platformBackground, 100%) 0%, fade(@platformBackground, 0%) 100%);
			background: -moz-linear-gradient(top, fade(@platformBackground, 100%) 0%, fade(@platformBackground, 0%) 100%);
			background: -webkit-linear-gradient(top, fade(@platformBackground, 100%) 0%, fade(@platformBackground, 0%) 100%);
			background: -o-linear-gradient(top, fade(@platformBackground, 100%) 0%, fade(@platformBackground, 0%) 100%);
			background: -ms-linear-gradient(top, fade(@platformBackground, 100%) 0%, fade(@platformBackground, 0%) 100%);
		}
	}

	.changesMenuOptions {
		position: absolute;
		z-index: 99;
		top: @borderRadius;
		left: 0px;
		right: 0px;
		bottom: @borderRadius;
		overflow: hidden;

		.changesMenuOptionsScrollOuterWrapper {
			@scrollbarHideWidth: 50px;

			position: absolute;
			top: 0px;
			left: 0px;
			right: -@scrollbarHideWidth;
			bottom: 0px;
			overflow-y: auto;

			.changesMenuOptionsScrollInnerWrapper {
				padding-top: @headerHeight - @borderRadius;
				padding-bottom: @footerHeight - @borderRadius;
				width: @menuWidth;

				.changesMenuOption {
					cursor: hand; cursor: pointer;

					display: block;
					position: relative;
					width: 100%;
					height: @optionHeight;

					.changesMenuOptionContents {
						@transitionTime: 0.25s;
						transition: all @transitionTime ease-in-out;
						-moz-transition: all @transitionTime ease-in-out;
						-webkit-transition: all @transitionTime ease-in-out;
						-o-transition: all @transitionTime ease-in-out;

						position: absolute;
						top: 0px;
						left: 0px;
						right: @toothWidth;
						bottom: 0px;
						color: @koalityGray;
						line-height: 36px;
						background-color: @panelBackground;
						border-bottom: 1px solid @platformBackground;

						&.offsetText {
							line-height: 40px;
						}

						.changesMenuOptionTextContainer {
							position: absolute;
							top: 2px;
							left: 12px;
							right: 22px;
							bottom: 0px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;

							&.spinnerTextPadding {
								right: 58px;
							}

							.changesMenuOptionIdentifier {
								display: inline;
								font-size: 18px;
							}

							.changesMenuOptionText {
								display: inline;
								padding-left: 2px;
								font-size: 14px;
							}
						}

						.changesMenuOptionSpinner {
							position: absolute;
							top: 0px;
							right: 20px;
							width: @optionHeight;
							height: @optionHeight;
						}

						.changesMenuOptionArrow {
							@rightTransitionTime: 0.25s;
							@borderColorTransitionTime: 0.25s;
							transition: right @rightTransitionTime ease-in-out,
								border-color @borderColorTransitionTime ease-in-out;
							-moz-transition: right @rightTransitionTime ease-in-out,
								border-color @borderColorTransitionTime ease-in-out;
							-webkit-transition: right @rightTransitionTime ease-in-out,
								border-color @borderColorTransitionTime ease-in-out;
							-o-transition: right @rightTransitionTime ease-in-out,
								border-color @borderColorTransitionTime ease-in-out;

							position: absolute;
							top: 18px;
							right: 10px;
							width: 5px;
							height: 5px;
							border-top: 2px solid @koalityGray;
							border-right: 2px solid @koalityGray;

							transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-o-transform: rotate(45deg);
						}
					}

					.changesMenuOptionTooth {
						@transitionTime: 0.25s;
						transition: all @transitionTime ease-in-out;
						-moz-transition: all @transitionTime ease-in-out;
						-webkit-transition: all @transitionTime ease-in-out;
						-o-transition: all @transitionTime ease-in-out;

						position: absolute;
						top: 0px;
						left: @menuWidth - @toothWidth;
						bottom: 0px;
						width: 0px;
						height: 0px;

						border-left: 0px solid @panelBackground;
						border-top: @optionHeight/2 solid transparent;
						border-bottom: @optionHeight/2 solid transparent;
					}

					&.orange {
						.changesMenuOptionContents {
							color: @koalityOrange;

							.changesMenuOptionArrow {
								border-color: @koalityOrange;
							}			
						}
					}

					&.red {
						.changesMenuOptionContents {
							color: @koalityRed;

							.changesMenuOptionArrow {
								border-color: @koalityRed;
							}			
						}
					}

					&:hover {

						.changesMenuOptionContents {
							color: @koalityWhite;
							background-color: @changeHover;

							.changesMenuOptionArrow {
								right: 2px;
								border-color: @koalityWhite;
							}
						}

						.changesMenuOptionTooth {
							border-left: @toothWidth solid @changeHover;
						}

						&.green {
							.changesMenuOptionContents {
								color: @koalityGreen;

								.changesMenuOptionArrow {
									border-color: @koalityGreen;
								}
							}
						}

						&.orange {
							.changesMenuOptionContents {
								color: @koalityOrange;

								.changesMenuOptionArrow {
									border-color: @koalityOrange;
								}
							}
						}

						&.red {

							.changesMenuOptionContents {
								color: @koalityRed;

								.changesMenuOptionArrow {
									border-color: @koalityRed;
								}			
							}
						}
					}

					&.selected {

						.changesMenuOptionContents {
							color: @koalityWhite;
							background-color: @changeHover;

							.changesMenuOptionArrow {
								right: 2px;
								border-color: @koalityWhite;
							}
						}

						.changesMenuOptionTooth {
							border-left: @toothWidth solid @changeHover;
						}

						&.green {

							.changesMenuOptionContents {
								color: @koalityWhite;
								background-color: @koalityGreen;

								.changesMenuOptionArrow {
									border-color: @koalityWhite;
								}
							}

							.changesMenuOptionTooth {
								border-left-color: @koalityGreen;
							}
						}

						&.orange {

							.changesMenuOptionContents {
								color: @koalityWhite;
								background-color: @koalityOrange;

								.changesMenuOptionArrow {
									border-color: @koalityWhite;
								}
							}

							.changesMenuOptionTooth {
								border-left-color: @koalityOrange;
							}
						}

						&.red {

							.changesMenuOptionContents {
								color: @koalityWhite;
								background-color: @koalityRed;

								.changesMenuOptionArrow {
									border-color: @koalityWhite;
								}
							}

							.changesMenuOptionTooth {
								border-left-color: @koalityRed;
							}
						}
					}
				}
			}
		}
	}

	.changesMenuFooter {
		position: absolute;
		z-index: 100;
		left: 0px;
		right: @toothWidth;
		bottom: 0px;
		height: @footerHeight;
		background-color: @panelFooterBackground;
		border-bottom-left-radius: @borderRadius;
		border-bottom-right-radius: @borderRadius;
	}
}
