@import '../constants';

.consoleText {
	font-family: 'PT Mono', monospace;
	font-size: 12px;
	line-height: 16px;

	.line {
		&:hover {
			background-color: lighten(@panelBackground, 4%);
		}

		.number {
			display: inline-block;
			margin-right: 5px;
			width: 50px;
			color: @koalityGray;
			text-align: right;
			vertical-align: top;
		}

		.text {
			display: inline-block;
			width: 90%;
			word-wrap: break-word;
		}
	}
}
