<div id="accountSshKeys" ng-controller="AccountSshKeys">
	<panel-header>
		SSH Keys
		<button ng-click="addKey.drawerOpen = !addKey.drawerOpen">Add a new SSH Key</button>
		<busy-button busy="waitingOnGitHubImportRequest" click="importFromGitHub()">Import GitHub SSH Keys</button>
	</panel-header>

	<panel-body drawer-open="addKey.drawerOpen">
		<panel-drawer>
			<h1>surprise!!</h1>
		</panel-drawer>

		<table>
			<tr>
				<th class="aliasColumn unselectable" ng-click="orderByPredicate = 'alias'; orderByReverse = !orderByReverse">Alias</th>
				<th class="createdColumn unselectable" ng-click="orderByPredicate = 'timestamp'; orderByReverse = !orderByReverse">Date Created</th>
				<th class="removeColumn unselectable">Actions</th>
			</tr>

			<tr ng-show="keys.length == 0">
				<td class="aliasColumn" text-selectable>You don't have any SSH keys for this account</td>
				<td class="createdColumn"></td>
				<td class="removeColumn"></td>
			</tr>

			<tr ng-repeat="key in keys | orderBy:orderByPredicate:orderByReverse">
				<td class="aliasColumn" text-selectable>{{key.alias}}</td>
				<td class="createdColumn" text-selectable>{{key.timestamp | date:'MM/dd/yyyy'}}</td>
				<td class="removeColumn"><a class="removeLink red" ng-click="removeKey(key)">Delete</a></td>
			</tr>
		</table>
	</panel-body>
</div>
