<div id="adminHpCloud" ng-controller="AdminHpCloud">
	<panel-header>HP Cloud</panel-header>

	<panel-body no-scroll>
		<form name="hpCloudForm" novalidate>
			<div class="formContainer">
				<label>Access Key</label>
				<input type="text" ng-model="hpCloudKeys.accessKey" name="accessKey" ng-pattern="/^[\w]+$/" ng-maxlength="256" focused required>

				<label>Secret Key</label>
				<input type="text" ng-model="hpCloudKeys.secretKey" name="secretKey" ng-maxlength="256" required>

				<label>Tenant Name</label>
				<input type="text" ng-model="hpCloudKeys.tenantName" name="tenantName" ng-maxlength="256" required>

				<label>Region</label>
				<select ng-model="hpCloudKeys.region" ng-options="region as region for region in allowedRegions" required></select>
			</div>

			<div class="formContainer">
				<label>Security Group</label>
				<select ng-model="instanceSettings.securityGroup" ng-options="securityGroup as securityGroup for securityGroup in allowedSecurityGroups"></select>

				<label>Instance Size</label>
				<select ng-model="instanceSettings.instanceSize" ng-options="instanceSize as instanceSize for instanceSize in allowedInstanceSizes"></select>

				<div class="halfWidthFormElement left">
					<label>Ready Instances</label>
					<input type="number" ng-model="verifierPoolSettings.minReady" name="minReady" min=0 max=1000 required>
				</div>

				<div class="halfWidthFormElement right">
					<label>Max Running Instances</label>
					<input type="number" ng-model="verifierPoolSettings.maxRunning" name="maxRunning" min=1 max=10000 required>
				</div>
			</div>

			<div class="bottomContanier">
				<div class="formDivider"></div>

				<busy-button centered busy="makingRequest" click="submit()" disabled="hpCloudForm.$invalid">Save Changes</busy-button>
			</div>
		</form>
	</panel-body>
</div>
