<div id="adminAws" ng-controller="AdminAws">
	<panel-header>AWS</panel-header>

	<panel-body no-scroll>
		<form name="awsForm" novalidate>
			<div class="formContainer">
				<label>Access Key</label>
				<input type="text" ng-model="awsKeys.accessKey" name="accessKey" ng-pattern="/^[\w]+$/" ng-minlength="16" ng-maxlength="32" focused required>

				<label>Secret Key</label>
				<input type="text" ng-model="awsKeys.secretKey" name="secretKey" ng-maxlength="128" required>

				<label>User Data</label>
				<textarea id="userDataField" type="text" ng-model="verifierPoolSettings.userData" name="userData"></textarea>
			</div>

			<div class="formContainer">
				<label>Base AMI</label>
				<div id="baseAmiWarning" ng-show="verifierPoolSettings.amiId != null && verifierPoolSettings.amiId != 'default'">
					Warning! Specifying custom Base AMIs is experimental
				</div>
				<select ng-model="verifierPoolSettings.amiId" ng-options="baseAmi.id as baseAmi.name for baseAmi in allowedBaseAmis" required></select>

				<label>Machine Username</label>
				<input type="text" ng-model="verifierPoolSettings.username" name="username" ng-maxlength="128" required>

				<label>Security Group</label>
				<select ng-model="instanceSettings.securityGroupId" ng-options="securityGroup.id as securityGroup.displayName for securityGroup in allowedSecurityGroups" required></select>

				<label>VPC Subnet ID</label>
				<input type="text" ng-model="instanceSettings.subnetId" name="subnetId" ng-maxlength="128">
			</div>

			<div class="formContainer">
				<label>Instance Size</label>
				<select ng-model="verifierPoolSettings.instanceSize" ng-options="instanceSize as instanceSize for instanceSize in allowedInstanceSizes" required></select>

				<div class="halfWidthFormElement left">
					<label>Ready Instances</label>
					<input type="number" ng-model="verifierPoolSettings.minReady" name="minReady" min=0 max=1000 required>
				</div>

				<div class="halfWidthFormElement right">
					<label>Max Running Instances</label>
					<input type="number" ng-model="verifierPoolSettings.maxRunning" name="maxRunning" min=1 max=10000 required>
				</div>

				<div class="halfWidthFormElement left">
					<label>Root Drive Size</label>
					<input type="number" ng-model="verifierPoolSettings.rootDriveSize" name="rootDriveSize" min=8 required>
				</div>
			</div>

			<div class="bottomContanier">
				<div class="formDivider"></div>

				<busy-button centered busy="makingRequest" click="submit()" disabled="awsForm.$invalid">Save Changes</busy-button>
			</div>
		</form>
	</panel-body>
</div>
