@import '../../constants';


#adminAws {
	form {
		text-align: center;

		.formContainer {
			width: 250px;
			height: 260px;
			text-align: left;
		}

		#userDataField {
			font-family: 'PT Mono', monospace;
			font-size: 11px;
			white-space: nowrap;
		}
	}
}
