
/*--- Universal styles ---*/

	@baseFont: 14px;
	
	@borderRadius: 5px;


	/*--- Colors ---*/
	@koalityRed: #EF4129;

	@koalityGreen: #8EC63F;
	@koalityDarkGreen: #6cb33e;

	@koalityWhite: #FFFFFF;
	
	@koalityGray: #696970;
	
	@koalityBlack: #000000;
	

	@platformBackground: #212122;



/*--- Header Variables ---*/
	@headerHeight: 50px;
	@headerBackground: #000000;


/*--- Menu Variables ---*/
	@menuWidth: 200px;
	@panelBackground: #2D2D2E;
	@changeHover: #424245;
	@changeSelected: #595a5c;
	@panelHeaderBackground: #424245;
	@panelFooterBackground: @panelHeaderBackground;

	@panelSpacing: 15px;


/*--- Table Variables ---*/
	@createdColumnWidth: 100px;
	@removeColumnWidth: 70px;

