@import 'constants';

#main {
	@contentMinWidth: 1100px;
	@contentWidth: 90%;
	@contentMaxWidth: 1400px;

	position: fixed;
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;

	#headerBackground {
		position: absolute;
		z-index: -1;
		top: 0px;
		left: 0px;
		right: 0px;
		height: @headerHeight;
		background-color: @headerBackground;
	}

	#centerContainer {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		min-width: @contentMinWidth;
		width: @contentWidth;
		max-width: @contentMaxWidth;
		height: 100%;

		#headerContainer {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			height: @headerHeight;
			background-color: @headerBackground;
		}

		#contentContainer {
			position: absolute;
			top: @headerHeight;
			left: 0px;
			right: 0px;
			bottom: 0px;
		}
	}
}
