<centered-panel id="login">
	<div id="loginPanel">
		<content>
			<content-header content-header-padding ng-class="{red: showError}">Login<span id="loginError" ng-show="showError">Your login attempt failed</span></content-header>
			<content-body unselectable>
				<div id="loginContent">
					<styled-form name="loginForm">
						<styled-form-field label="Email" label-padding="true">
							<input type="email" ng-model="account.email" name="email" placeholder="email@address.com" ng-maxlength="256" autocomplete="on" required focused>
						</styled-form-field>
						<styled-form-field label="Password" label-padding="true">
							<input type="password" ng-model="account.password" name="password" placeholder="p4ssW0rd" ng-maxlength="256" required>
						</styled-form-field>
						<styled-form-field label="">
							<input type="checkbox" ng-model="account.rememberMe" ng-true-value="yes" ng-false-value="no" name="rememberMe"> Remember me
							<button id="loginButton" ng-click="login()" ng-disabled="loginForm.$invalid">Login</button>
						</styled-form-field>
					</styled-form>
				</div>
			</content-body>
		</content>
	</div>

	<div id="loginOptions">
		<span class="loginOptionsTitle">Having trouble?</span>
		<a href="/resetPassword" class="recoverPasswordOption">Reset your password</a>
	</div>
</centered-panel>
