<div id="resetPassword">
	<panel>
		<panel-header>Reset Password</panel-header>

		<panel-body no-scroll>
			<form name="resetPasswordForm" novalidate ng-show="!showSuccess">
				<input ng-model="account.email" name="email" type="email" placeholder="Email" maxlength=256 autocomplete="on" focused required>
				<button class="fullWidth" ng-click="resetPassword()" ng-disabled="resetPasswordForm.$invalid">Log In</button>
			</form>

			<div id="successMessage" ng-show="showSuccess">
				Email has been sent to {{account.email}}
				
				<a href="/login">Go back</a>
			</div>
		</panel-body>
	</panel>
</div>
